body {
    font-family: Poppins;
    text-align: center;
    background-color: #212529;
    color: #fff;
    
    
}

.menu {
display: flex;
justify-content:space-between;
margin: 0 2rem;
font-size: 1.5rem;

}

.menu_ul {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    list-style-type: none;
    

}
.menu_li:hover {
    color: #FFB742;
    transition: 0.5s;
    cursor: pointer;

}

button {
    background: transparent;
        border: 0;
        border-radius: 0;
        height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        user-select: none;
}
.text_button {
    
    align-items: center;
        background: #FFB742;
        border: 2px solid transparent;
        border-radius: 99rem;
        color: #212529;
        display: flex;
        height: 2.5rem;
        padding: 0.5rem 2rem;
        font-size: 1.1rem;
}
button:hover {
    background-color: #212529;
}
button:hover .text_button {
    color: #FFB742;
    background-color: hsla(0, 0%, 100%, 0.08);
    transition: 0.5s;
}

.hi {
margin: 8rem 0;
font-family: 'Inter';
}
.name:hover {
    color: #FFB742;
    border-bottom: 3px solid #FFB742;
    transition: 0.5s;
}
h2 {
    font-size: 3rem;
}
.name_text {
    font-size: 1.5rem;
}

.conteiner_cards {
    display: flex;
    justify-content: space-around;

}
.card {
    display: flex;
    border:3px solid black;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    font-family: 'Inter';
    border-radius: 20px;
    background-color: #292B2E;
    font-weight: bold;
}
.card:hover {
    background-color: #FFB742;
    color: #212529;
}
.card:hover .numbers_card {
    color: #212529;
}

.numbers_card {
    font-weight: bolder;
    font-size: 2rem;
    color: #FFB742;
}

.about_me_conteiner {
display: flex;
margin: 8rem 2rem;
justify-content: space-around;
}

p {
    
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.text_about_me {
    text-align: left;
    width: 40%;
}

.menu2 {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    font-size: 1.5rem;

}

.menu2_ul {
    display: flex;
    list-style-type: none;
}


.menu2_li:hover a {
    color: #212529;
    transition: 0.5s;
    background-color: #FFB742;

}
a {
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    padding: .5rem 1rem;
        margin: 1rem 1rem;

}

section {
    display: flex;
    justify-content:space-around;
    margin: 3rem 10rem;
}
footer {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}
.conteiner_column {
text-align: left;
max-width: 250px;
}
.column_ul {
list-style-type: none;
padding: 0;
}

.text_column {
    color: #D4D4D4;
    line-height: 2rem;
}

h3 {
    color: #FFB742;
    font-size: 2rem;
    margin: 2rem 0;
    
}
h4 {
    color: #fff;
    font-size: 2rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}
li {
    color: #7B7B7B;
    line-height: 2rem;
    font-size: 1.2rem;
}