body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
}

body > div { /*цей дів для того, щоб зробити "вікно" на фоні*/

    background-image: url(../img/Stroke\ 5.png);
    display: flex;
    justify-content: center;
    margin: 20vh 20vw;
}
/*частина перша*/
.part1 { 
    background-color: #fff;
    background-image: url(../img/Stroke\ 5.png);
    background-repeat: no-repeat;
    background-size: 80%;
    width: 55%;
}
h2 {
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 4rem;
}

h3 {
    margin: 5rem 0 0 20%;

}

/*список*/
.part1conteiner{
 text-align: center;
 display: flex;
 flex-direction: column;
    margin: 1rem 20%;
    text-align: left;
    font-weight: 400;
}
label {
    margin-top: 1rem;
    line-height: 1.5rem;
}
input {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    height: 2.5rem;
    background: rgba(225, 225, 225, 0)

}

.buttom {
background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    margin-top: 2rem;
    color: #fff;
}
.buttom:hover {
    cursor: pointer;
}



.pass_help {
    font-size: .8rem;
    line-height: 1rem;
    color: #ccc;
}

.login { /*самий нижній підпис з посиланням на логін*/
    text-align: center;
    color: #C4C4C4;
    font-weight: 700;
    padding-bottom: 2rem;
}

a {
    color: #476D73;
}


/*part2*/
.part2 {
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    width: 45%;
    position: relative;
    font-weight: 700;
}
.menu>ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0 3rem;
}

li {
    margin: 0 1rem;
}

li > a {
    text-decoration: none;
    color:  #fff;
}

.big_text {
    font-size: 4rem;
    margin: 10rem 0rem 0rem 3rem;
    line-height: 6rem;
    color: #fff;
    text-shadow: 0.2rem 0.3rem rgba(255, 255, 255, 0.1);
}


.Albert {
    margin: 1rem 3rem;
    color: #fff;
    text-shadow: 0.2rem 0.3rem rgba(255, 255, 255, 0.1);
}