#ball{
    height: 25px;
    width: 25px;
    background-color: azure;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 500px;
}

section {
    background-color: rgb(0, 55, 71);
    height: 700px;
    width: 1000px;
    display: flex;
}

.player {
    width: 20px;
    height: 100px;
    background-color: rgb(55, 218, 218);
    position:relative;
    top: 350px;
    border-radius: 2rem;
}

#twoPlayer {
    left: 960px;
}
#btn{
    left: 300px;
    background-color: green;
}
#btnEnd{
    left: 500px;
    background-color: rgb(121, 0, 0);

}
button {
    position: relative;
    height: 2rem;
    width: 100px;
    border-radius: 1rem;
    margin-top: .5rem;
    color: aliceblue;
}
body {
    width: 1000px;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

