﻿body {
    text-align: center;
}
/* меню*/
.head {
    background-color: #202846;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 3;
}

.gora_cont {
    width: 300px;
}

.planet_pic {
    margin-left: 1rem;
}

ul {
    display: table-cell;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10rem;
}

li {
    list-style-type: none;
    color: aliceblue;
    margin: 0rem 1rem;
}

h1 {
    padding: 3rem 10%;
    margin: 0;
    background-color: #C6C6DC;
    text-align: left;
    font-size: 3rem;
    font-style: italic;
}
 

/* розділ оберіть місце розташування та стрілка*/
.rozt {
    background-color: #E8E8E8;
    font-size: 1.5rem;
    color: #0000009C;
    margin: 2rem 10% 0; 
    padding: 2rem;
    position: relative;
 
}

.rozt::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 25px;
    background-image: url(../image/Polygon\ 1.png);
    background-position: 0px 0px;
    position: absolute;
    right: 3rem;
}

/*фото і опис в картці*/
.conteiner {

    display: inline flex;
    background-color: #BDBDC6;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;   
    position: relative;
}

h3 {
    border-bottom: 3px solid white;
    text-align: left;
    background: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #353C57;
    font-style: italic;
}

.pic {
    margin: 2rem 6rem;
    text-align: left;
}

.text {
    margin: 0 6rem 0 0;
    text-align: center;
    font-size: 1.5rem;
}

p {
    background-color: #D7D7DD;
    margin: 0 0 2rem 0;
    padding: 1rem 3.5rem;
    
}
/*кнопка детальніше*/
button {
    background: transparent;
        border: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        user-select: none;
    position:absolute;
    bottom: 1rem;
    right: -2rem;
}

.text_button {
    align-items: center;
    background: #202846;
    border: 2px solid transparent;
    border-radius: 99rem;
    color: #fff;
    display: flex;
    font-weight: 2rem;
    height: 2.5rem;
    position: relative;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}

/*зірки*/
.star_withe {
    position:absolute;
    top: 2rem;
    right: 2rem;
}
.star_yellow {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

/*анімація при наведенні на картку*/
.conteiner:hover .star_withe {
    opacity: 0%;
    transition: .5s;
}
.conteiner:hover .text_button {
    background-color: #EF075B;
    transition: .5s;
}
.conteiner:hover {
    background-color: #AEAEE2;
}

/*кнопка вгору*/
#fixed-div {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: #5557689E;
    opacity: 50%;
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    transition: all .3s;
    cursor: pointer;
}

#fixed-div:hover {
    opacity: 100%;
}
.arrow {
    position: relative;
    top: 1rem;
}