html {
    --grey: #969697;
    --blue: #00BFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}



.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.conteiner_logo {
    height: 70%;
    width: 50%;
    border-right:  10px solid #FFA500;
    text-align: center;


}
.conteiner_logo> img {
margin-top: 10%;
   
}

.conteiner_login {
    width: 50%;
    margin-top: 14%;

}

.conteiner_login > form {
    margin: 0 8rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

input, select {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    margin-bottom: 1rem;
}

label {

    font-size: 1.75rem;
    color: var(--grey);
}

.conteiner_login p {
    text-align: right;

}
p span {
    margin-right: 8rem;
    color: #969697;
}
#submit {
    background-color: var(--blue);
    width: 10rem;
    margin-top: 3rem;
    border-radius: 3px;
    font-weight: 700;
}

.conteiner_form > p {
    color: var(--grey);
    text-align: right;
    width: 59%;
    margin: 0 8rem;
}

/* page2--------------------------------------------------------------------------*/
.menu {
    background-color: #155767;
   display: flex;
   justify-content: space-between;
filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.922));
margin: 2rem;

}

.menu ul {
    display: flex;
}
  

.user a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#users {
    width: 69px;
        height: 69px;
        border-radius: 50%;
        background: #e1e1e1;
        display: flex;
        margin: 0 1rem;
}

#users img {
    margin: auto;

}
.icon {
    
    width: 300px;
    background-color: #fff;
    border-radius: 0 99px 99px 0;
    border: 1px solid var(--grey);

}
.menu li {
    list-style: none;
    padding: 0 6rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
    
}

 /* btm refresh*/

.btm_refresh {
    
    display: flex;
    justify-content:  flex-end;
    margin-right: 2rem;


}

.btm_icon{

    width: 54px;
    height: 54px;
    background-color: black;
    background-image: url(../img/Icon\ material-refresh.svg);
    background-repeat: no-repeat;
    margin-left:  1rem;
    background-position: center;
}

.btm_refresh a{
background-color: var(--blue);
padding-left: 1rem;
display: flex;
align-items: center;
border: 1px solid var(--grey);
color: #fff;
font-weight: 700;
}

main {
    display: flex;
    border: 1px solid var(--grey);
    justify-content: left;
    margin: 2rem;

}

.main_menu {
    height: 80vh;
}

.main_menu ul {
    margin: 5rem 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.main_menu ul li {
    padding: .5rem 0;
    white-space: nowrap;



}

.main_menu ul>li:nth-child(1) {
    list-style-image: url(../img/Icon\ material-dashboard.svg) ;
}
.main_menu ul>li:nth-child(2) {
    list-style-image: url(../img/Icon\ awesome-dice-four.svg);
}
.main_menu ul>li:nth-child(3) {
    list-style-image: url(../img/icon\ Billing.svg);
}
.main_menu ul>li:nth-child(4) {
    list-style-image: url(../img/Icon\ user\ Management.svg);
}
.main_menu ul>li:nth-child(5) {
    list-style-image: url(../img/Icon\ CPO.svg);
}
.main_menu ul>li:nth-child(6) {
    list-style-image: url(../img/Icon\ reports.svg);
}

/*form page2*/
.conteiner_form {
    padding: 0 5rem;
    width: 100%;
    border-left: 1px solid var(--grey);

}

.form_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 -2rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #969697;
}
.form_btm div:first-child a {
    color: #969697;
}

.btm_del {
    background: #A2A3A4;
    border-radius: 10px;
    padding: 1rem 2rem;
    color: #fff;
    margin: 0 1rem;
}

.btm_save {
    background: var(--blue);
    border-radius: 10px;
    padding: 1rem 2rem;
    color: #fff;
}

.form_page2 label {
    font-size: 1.2rem;
   
}

.form_page2 > div:first-child {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.form_page2 > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.form_page2 > div:nth-child(2) p {
display: flex;
flex-direction: column;
width: 40%;
margin: 0;
}

.form_page2 > div:nth-child(3) {
    display: flex;
    align-items: end;
    width: 60%;
    
}

.form_page2 > div:nth-child(3) p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}



.btm_token {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 23%;
    padding: 1rem;
    white-space: nowrap;
    background-color: var(--blue);
    margin-bottom: 1rem;
}

.btm_token > div{
    width: 44px;
    height: 22px;
    background-image: url(../img/icon\ key.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
}

.form_page2 > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
}


/*page 3-----------------------------------------------------------------*/
.btm_new_icon2 {

    width: 54px;
    height: 54px;
    background-color: black;
    background-image: url(../img/Icon\ ionic-ios-send.svg);
    background-repeat: no-repeat;
    margin-left: 1rem;
    background-position: center;
}

.conteiner_search > button {
    width: 30%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    border: 1px solid var(--grey);
}

.table2 {
    color: var(--grey);
}


/*page4-----------------------------------------------------------------------*/

.btm_add_new {

    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;


}

.btm_new_icon {

    width: 54px;
    height: 54px;
    background-color: black;
    background-image: url(../img/Icon\ awesome-plus.svg);
    background-repeat: no-repeat;
    margin-left: 1rem;
    background-position: center;
}

.btm_add_new a {
    background-color: var(--blue);
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--grey);
    color: #fff;
    font-weight: 700;
}


select {
    background-color: rgba(0, 0, 0, 0.0);    
    font-weight: 700;
    color: #969697;
    min-width: 350px;
    margin-right: 4rem;
}

/*search*/
.conteiner_search {
    display: flex;
    margin-right: 4rem;
    width: 100%;
}
.search {
        color: #000;
        padding-left: 4rem;
        min-width: 92%;
    
}

.search_btm {
    position: absolute;
        top: 4px;
        left: 6px;
        width: 3rem;
        height: 3rem;
        border: none;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.0);
        background-image: url(../img/Icon\ awesome-search.svg);
        background-repeat: no-repeat;
        background-position: center;
}

.search_conteiner {
    width: 100%;
    position: relative;
}

/*table*/ 


.table1 > table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}

.table1 tr:nth-child(2) {

    background: rgba(214, 214, 214, 0.16);
 
}

.table1 tr:nth-child(3) {

    background: rgba(214, 214, 214, 0.16);
    border-top: 0.5rem solid #fff;
    
}

.table1 td {
   height: 44px;
}

.conteiner_btm_page {
    text-align: center;
}

.btm_page {
    margin-top: 1rem;
    background-color: #00BFFF;
}

/*conteiner_rating*/
.conteiner_rating{
    border-top: 1px solid black;
    margin-top: 1rem;
    
    
}

.conteiner_rating > table {
text-align: center;
border-spacing: 2rem 0;

}

.conteiner_rating tr:nth-child(1) {

    border-collapse: collapse;    
   
}


.conteiner_rating tr:nth-child(2) {

    border-radius: 10px;
    border: 1px solid black;
    
}

.conteiner_rating  td {
    height: 60px;
    width: 185px;
    border-radius: 10px;
    border: 1px solid black;
    
    
}

.conteiner_rating tr:nth-child(1) td {

   
   text-align: left;
    border: none;
    font-weight: 700;

}

.conteiner_img_url {
    display: flex;
    margin-top: 2rem;
    justify-content: start;
    align-items: center;
}

.conteiner_img_url div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6rem;
    font-size: 1.5rem;
    font-weight: 700;

}

.conteiner_img_url div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.conteiner_img_url img {

    margin: 2rem;
}

/*page5------------------------------------------------------------------------*/

.btm_add_new .btm_cancel {
width: 9rem;
justify-content: center;
background-color: var(--grey);
font-weight: 400;

}

.h4_page5 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--grey);
}

.form_page5 label{
    font-size: 1.2rem;
}

.form_page5 input {
    width: 40%;
}

.form_page5 > div:nth-child(1) {
    display: flex;
    justify-content: space-between;

}
.form_page5 > div:nth-child(1) p{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 40%;

}
.form_page5 > div:nth-child(1) input {
    width: 100%;

}

.form_page5 > div:nth-child(2) {
    display: flex;
    flex-direction: column;

}

.sample {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.conteiner_radio {
    display: flex;
    justify-content: center;
    align-items: center;


}

.sample input {
    width: 39px;
    height: 39px;
    margin-bottom: 1rem;
}
.sample label {
    width: 200px;
    align-self: start;
    margin-left: 2rem;
    
}



.t {
    margin: 0;
}

input[type="radio"]:checked+label>span.t {
    color: #000;
}

