/*вирівняв по центру*/
body {
        width: 1440px;
        margin: auto
}

/*перший заголовок*/
.SWU { 
    font-size: 3rem;
    text-align: center;
    color: #0BBBD3;
    margin: 2rem;
}

 /*картинка собора*/
.backgroundSobor {
    background-image: url(../img/Успенський\ собор\ 1.jpg);
    height: 852px; /* чомусь, якщо не вказати розмір, тоді все ламається*/
}

/*текст на соборі*/
.textKha {
    font-size: 4rem;
    color: #ffffff;
    width: 50%;
    float: left;
    display: block;
    padding-top: 15rem; 
}

/*прапор*/
.flag {
    padding: 10rem 0rem 5rem 5rem;
    line-height: 1px;
    width: 5rem;
    float: left;
    display: block;
}

/*заголовок визначні місця*/
.h2 {
    text-decoration: underline #33B8F1;
        text-underline-offset: 0.7rem;
        text-indent: 5rem;
        font-size: 3rem;
}


/*контейнер з картинками*/
.allConteiners {
    display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin: 7rem 0rem;
}

/*окремо картинка з підписом*/
.conteiner {
    width: 399px;
    height: 481px;
    font-size: 2.2rem;
    text-align: center left;
    border-radius: 30px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    color: #595050;
    display: inline-block;
    margin: 0rem 2rem;
    
}


/*Сад Шевченко сині букви*/
.SadSHV {
    color: #33B8F1;
    font-size: 2.4rem;
    font-weight: bold;
}

/*Інші назви місць(під картинками)*/
.zagINpic {
    font-size: 2.4rem;
    color: black;
    font-weight: bold;
}

/*заголовок */
.h3 {
    text-decoration: underline #33B8F1;
        text-underline-offset: 0.7rem;
        font-size: 3rem;
        text-align: center;
}

/*картинка з серцем*/
.heart {
        text-align: center;
}

/*кнопка*/
.button{
        background: #33ADF1;
        color: #fff;
        padding: 0.5rem 3rem;
        font-size: 3.2rem;
        cursor: pointer;
}

/*загальний підвал*/
.floor {
    background-color: #0A2DA9;
    text-align: center;
   margin-top: 2rem;
   padding: 2rem;
}

/*іконки*/
.pic {

    margin:auto 2rem;
            /* border: 3px solid black;
            border-radius: 50%;
            background-color: #0931BF;
            padding: 1%;*/
    box-shadow: 0px 0px 0px 10px #0931BF;
    border-radius: 35%;
    background-color: #0931BF;
    border: 3px solid black;
}

/*посилання на контакти*/
.contacts {
    font-size: 1.5rem;
    text-decoration: none;
    color: #353949;
}