html {
    font-size: 10px;
}


header {
    width: 80rem;
    height: 20rem;
    border: 1px solid black;
}

main {
    display: flex;
}

nav {
    width: 10rem;
    height: 40rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

section {
    width: 69.9rem;
    height: 40rem;
    border-right: 1px solid black;
    font-size: 3rem;
}

footer {
    width: 80rem;
    height: 20rem;
    border: 1px solid black;
}